<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>글 쓰기</h1>
    <form action="/board/write" method="post">
    <ul>
        <li>
            <label>작성자</label>
            <input type="text" name="name" >
        </li>
        <li>
            <label>제목</label>
            <input type="text" name="subject">
        </li>
        <li>
            <label>내용</label>
            <br><br>
            <textarea name="content">
           
            </textarea>
        </li>
    </ul>
        <input type="submit" value="글 작성완료">
        <a href="/board/list">목록으로</a>
    </form>
</body>
</html>